<nav class="header">
	<ul class="header__menu">
		<li class="header__menu-item">
			<material-icon routerLink="/dashboard" icon="apps"></material-icon>
			<material-icon
				routerLink="/governance"
				icon="public"
			></material-icon>
			<material-icon routerLink="/regions" icon="map"></material-icon>
		</li>

		<li class="header__menu-item header__menu-spacer"></li>

		@if (showSidebar()) {
		<li class="header__menu-item header__menu-burger">
			<button
				class="header__iconbtn"
				type="button"
				aria-label="Menu"
				(click)="menuToggle.emit()"
			>
				<span class="material-icons">menu</span>
			</button>
		</li>
		}
	</ul>
</nav>
