.ta-l {
	text-align: left;
}
.ta-c {
	text-align: center;
}
.ta-r {
	text-align: right;
}
.fw-500 {
	font-weight: 500;
}
.fw-700 {
	font-weight: 700;
}
.tt-u {
	text-transform: uppercase;
}
.ws-nw {
	white-space: nowrap;
}
.ws-pl {
	white-space: pre-line;
}
.ws-n {
	white-space: normal;
}
