<div class="space" [class.space--open]="isMenuOpen()">
	<!-- Header (mobile only) -->
	<header class="space__header" aria-label="Page header">
		<div class="space__header-left">
			<user-preview></user-preview>
		</div>

		<div class="space__header-title">Title header</div>

		<div class="space__header-right">
			<icon-burger
				(updated)="isMenuOpen.set($event)"
				#burger
			></icon-burger>
		</div>
	</header>

	<!-- Main -->
	<main class="space__main">
		<uag-uamap></uag-uamap>
	</main>
</div>
