<nav class="breadcrumb" [attr.aria-label]="ariaLabel()">
	<ng-container *ngFor="let c of items(); let i = index; let last = last">
		<a
			*ngIf="!last && c.href; else currentTpl"
			class="breadcrumb__link"
			[href]="c.href"
			[attr.target]="c.target || null"
			[attr.rel]="c.rel || null"
			(click)="crumbClick.emit({ index: i, item: c })"
		>
			{{ c.label }}
		</a>

		<ng-template #currentTpl>
			<span
				class="breadcrumb__current"
				[attr.aria-current]="last ? 'page' : null"
			>
				{{ c.label }}
			</span>
		</ng-template>

		<span *ngIf="!last" class="breadcrumb__sep">{{ separator() }}</span>
	</ng-container>
</nav>
