.user {
	--topbar-h: 56px;
	--drawer-w: 260px;
	--pad: 10px;
	--pad-md: 20px;

	position: fixed;
	inset: 0;
	background: var(--c-bg-primary);
	color: var(--c-text-primary);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__topbar {
		position: sticky;
		top: 0;
		z-index: 100;
		min-height: var(--topbar-h);
		background: var(--c-basic);
		box-shadow:
			0 3px 5px -1px #0003,
			0 6px 10px #00000024,
			0 1px 18px #0000001f;
		display: flex;
		align-items: center;
		padding-inline: var(--pad-md);
	}

	&__main {
		position: relative;
		flex: 1 1 auto;
		min-height: calc(100dvh - var(--topbar-h));
		overflow: auto;
		padding: var(--pad-md);
	}

	@media (min-width: 768px) {
		&__main {
			padding-right: calc(var(--pad-md) + var(--drawer-w));
		}
	}

	@media (max-width: 767px) {
		&__topbar {
			position: fixed;
			top: auto;
			bottom: 0;
			inline-size: 100%;
			padding-inline: var(--pad);
		}

		&__main {
			margin-bottom: 56px;
			padding-block-start: var(--pad);
			padding-block-end: calc(var(--pad-md) + var(--topbar-h));
		}
	}
}
